<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496473083024-9oqrqnkc7l3vhvp2mk8tveu90m090cmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496473083024-9oqrqnkc7l3vhvp2mk8tveu90m090cmi</string>
	<key>API_KEY</key>
	<string>AIzaSyCl6dThIRrjI4fc9YOrlzMct0CjlSGF64U</string>
	<key>GCM_SENDER_ID</key>
	<string>496473083024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFlutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>my-chat-app-fc4d2</string>
	<key>STORAGE_BUCKET</key>
	<string>my-chat-app-fc4d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496473083024:ios:9edbd88c899cd822549c15</string>
</dict>
</plist>